{% extends 'base.html.twig' %}

{% block title %}Bibliothèque en ligne{% endblock %}

{% block body %}
<div class="container">
    <h1>Hello! ✅</h1>

    <p>
        Bibliothèque en ligne
    </p>
</div>
<div>
    <a href="{{ path('app_home') }}">Accueil</a>
    <a href="{{ path('app_category') }}">Categories</a>
</div>
{% endblock %}
