{% extends 'base.html.twig' %}

{% block title %}Bibliothèque en ligne{% endblock %}

{% block body %}
    <p id="advertisement">Certains livres peuvent être manquant dûe à un emprunt</p>
<div class="home">
    {% for shelf in shelfs %}
        <div class="shelf">
           <h2 class="name">{{ shelf.name }}</h2>
            {% for category in shelf.category.values %}
                <h2 class="category">{{ category.nameCategory }}</h2>
                {% for book in category.book.values %}
                    {% if book.borrower == null %}
                        <div class="book_name">
                            <h3 class="nameBook">{{ book.nameBook }}</h3>

                        </div>
                    {% endif %}
                {% endfor%}
            {% endfor %}
        </div>
    {% endfor %}

</div>

{% endblock %}

