@use "./modules/vars";

* {
  @extend .reset;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.3rem;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(227,202,154,1) 35%, rgba(224,212,212,1) 100%);
}

#advertisement {
    font-size: 3rem;
    font-weight: bold;
    font-family: Timmana, sans-serif;
    text-align: center;
    padding: 0.5rem;
}

.home {
  background-image: url("../img/etagere.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shelf {
  width: 70vw;
  height: 30vh;

  .name {
    font-weight: bold;
    font-size: 2.5rem;
    color: #043da1;
    text-transform: vars.$text-transform;
    padding: vars.$padding;
  }

  .category {
    padding: vars.$padding;
    text-transform: vars.$text-transform;
  }

  .book_name {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: -10rem;
    margin-right: 32rem;
    text-transform: capitalize;


    h3 {
      color: cornsilk;;
    }

    .nameBook {
      width: 8vw;
      font-size: 2rem;
      text-align: center;
      box-shadow: 3px 3px #eed6d6, -1em 0 .4em olive;
    }

    #delete {
      background-color: #e2cca7;
      padding: 0.5rem;
      margin-left: 1rem;
    }
  }
}