@use "./modules/vars";

* {
  @extend .reset;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.3rem;
  background-color: #c0bab0;
}

.home {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shelf {
  width: 70vw;
  height: 30vh;
  border: 1px solid #181716;
  background-color: #d0ccc6;

  .name {
    text-align: center;
    font-weight: bold;
    color: #174eaf;
    text-transform: vars.$text-transform;
    padding: vars.$padding;
  }

  .category {
    padding: vars.$padding;
    text-transform: vars.$text-transform;
  }



}