@use "./modules/vars";

* {
  @extend .reset;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.3rem;
  background-color: #c0bab0;
}

.home {
  h1 {
    text-align: vars.$text-align;
    padding: 1rem;
  }
}

.shelf {
  width: 70vw;
  height: 30vh;
  border: 1px solid #181716;
  background-color: #d0ccc6;

  .name {
    font-weight: bold;
    color: #174eaf;
    text-transform: vars.$text-transform;
    padding: vars.$padding;
  }

  .category {
    padding: vars.$padding;
    text-transform: vars.$text-transform;
  }

}